body {
	background-color: #000;
	font-family: 'Frijole', cursive;
}
.main {
	background-color: #fff;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}
.ryu {
	width: 600px;
	height: 494px;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 600x;
	height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}
.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}
.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}
.hadouken, .ryu-ready, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	top: 167px;
	left: 520px;
	z-index: 10;
}
.text img {
	width: 125%;
}
.text {
	position: absolute;
	top: 80px;
	left: 700px;
	color: #ff0000;
	font-size: 1.65em;
}
/*  http://streetfighter.wikia.com/
http://vignette2.wikia.nocookie.net/streetfighter/images/f/f6/SF_Logo.png/revision/latest?cb=20130310140822 */
